<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="header">
        <a href="/"><h1 class="title" id="title"><%= title %></h1></a>
        <h2>Buy and sell easily!</h2>
        <p><a class="button-link" href="/apiv1/auth">Login</a></p>
      </div>